bandit==1.8.6
black==25.1.0
build==1.2.2.post1
coverage==7.9.2
cryptography==45.0.5
flake8==7.3.0
fpvs==0.3.0
isort==6.0.1
mypy==1.16.1
psutil==7.0.0
pylint-per-file-ignores==1.4.0
pylint==3.3.7
pytest-cov==6.2.1
pytest-schema==0.1.2
pytest==8.4.1
twine==6.1.0
virtualenv==20.31.2
wheel==0.46.1
