name: Dependabot approve and merge

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  dependabot-approve-and-merge:
    permissions:
      contents: write
      pull-requests: write
    secrets:
      SENZING_GITHUB_CODEOWNER_PR_RW_TOKEN: ${{ secrets.SENZING_GITHUB_CODEOWNER_PR_RW_TOKEN }}
    uses: senzing-factory/build-resources/.github/workflows/dependabot-approve-and-merge.yaml@v3
