name: spellcheck

on:
  pull_request:
    branches: [main]

permissions: {}

jobs:
  spellcheck:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: streetsidesoftware/cspell-action@v8
        with:
          config: .vscode/cspell.json
