name: spellcheck

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: streetsidesoftware/cspell-action@v7
        with:
          config: .vscode/cspell.json
